extends ../layout/base
block content
    section.content
        .box
            .box-header.with-border
                h3.box-title
                    | Edit Data Kematian
            .box-tools.pull-right
                button(type='button', data-widget='collapse', datatoggle='tooltip',title='collapse').btn.btn-box-tool
                    i.fa.fa-minus

            .box-body
                form(role='form',method='post' action='/kematian/editkematian/#{(id==undefined) ? data.id : id}')
                    .row

                        .col-xs-6
                            .box-body
                                - if (messages.msg_error)
                                    .alert.alert-danger.alert-dismissable
                                        button.close(type='button', datadismiss='alert', aria-hidden='true')
                                            | ×
                                        h4
                                            i.icon.fa.fa-ban
                                            | Alert!
                                        | !{messages.msg_error}
                                - if (messages.msg_info)
                                    .alert.alert-success.alertdismissable
                                        button.close(type='button', datadismiss='alert', aria-hidden='true')
                                            | ×
                                        h4
                                            i.icon.fa.fa-check
                                            | Berhasil!
                                        | !{messages.msg_info}
                                .form-group
                                    label
                                        | NIK
                                    input(type='text',value="#{data.nik}",name='nik',placeholder='Masukan NIK', autofocus).form-control
                                .form-group
                                    label
                                        | Nama
                                    input(type='text',value="#{ (nama == undefined) ? data.nama : nama }",name='nama',placeholder='Masukan Nama').form-control
                                .form-group
                                    label
                                        | Tanggal Meninggal
                                    input(type='text',value="#{ (tglmeninggal ==undefined) ? data.tglmeninggal : tglmeninggal }",name='tglmeninggal',placeholder='Masukan Tanggal Meninggal').form-control
                                .form-group
                                    label
                                        | Penyebab
                                    input(type='text',value="#{ (penyebab ==undefined) ? data.penyebab : penyebab }",name='penyebab',placeholder='Masukan Penyebab').form-control
                            .box-footer
                                input(type="hidden",name="_method", value="PUT")
                                button(type='submit').btn.btn-primary
                                    i.fa.fa-pencil
                                    | Edit
                                a(href='/kematian').btn.btn-primary.pullright
                                    | Back